
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>SignUp</h2>
@Html.ValidationSummary()

<form action="" method="post">

    Name :     <input type="text" AutoPostBack="True" value="@(Model==null ? "":Model.Name)" name="Name" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <br />
    UserID :   <input type="text" value="@(Model==null ? "":Model.UserID)" name="UserID" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("UserID")</span>
    <br />
    Password : <input type="text" value="@(Model==null ? "":Model.Password)" name="Password" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Password")</span>
    <br />
    ID :      <input type="text" data-val="true" value="@(Model==null ? "":Model.ID)" name="ID" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("ID")</span>
    <br />
    Email : <input type="text" value="@(Model==null ? "":Model.Email)" name="Email" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Email")</span>
    <br />
    DateOfBirth : <input type="text" value="@(Model==null ? "":Model.DateOfBirth)" name="DateOfBirth" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("DateOfBirth")</span>
    <br />
    <input type="submit" value="Submit" class="btn btn-danger" />

</form>







